.form-div {
  backdrop-filter: blur(7.7px);
  background: rgba(199, 184, 184, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 250px;
  justify-content: center;
  margin: auto;

}

.login-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form-input {
  border-radius: 10px;
  margin: 10px;
}
